.form-legend{
    padding-bottom: var(--gutter);
}


.form__title{
font-family: "roboto";
font-size: var(--font-size-plus-2);
padding-bottom: calc(var(--baseline)/2);
font-weight: 600;

}

.form__content{
font-family: "roboto";
}

.form-group{
    padding-top: calc(var(--gutter)/2);
    padding-bottom: calc(var(--gutter)/2);
    display: flex;
    flex-direction: column;
}

.form-label{
    font-family: "roboto";
    color: var(--brand-color);
    padding-bottom: calc(var(--gutter)/2);
}

.form-input{
    border: 2px solid var(--brand-color);
    font-size: var(--font-size-plus-2);
}


