.title-page__container{
    background-color: #ffffff;
    
}


.title {
    @include plus-3;
    font-weight: 600;
    color: var(--brand-color);
    padding-bottom: calc(var(--baseline)/2);
    
    
}

.title__body{
    color: var(--brand-color);
    font-family: "roboto";
    font-size: var(--font-size-baseline);
    font-weight: 200;
}