.header__form-container {
    display: none;
  
    @media(min-width: 1024px){
        display: block;
        border: 2px solid #02075d;
        // position: relative;
        width: 80%;
        align-items: flex-start;
        margin-right: var(--baseline);
        margin-left: var(--baseline);
    }
}

.search__container {
    display: flex;
    justify-content: flex-end;
    height: 36px;
}



.search__label {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;

}

.search__input {
    display: block;
    padding: calc(var(--baseline)/2) calc(var(--gutter)/2);
    background-color: transparent;
    width: 100%;
    flex-grow: 1;
 
}

.search__submit-btn {
    // display: inline-block;
    background-color: transparent;
    border: none;
    position: absolute;
    justify-content: center;
    

}

// .search__submit-icon {
//     position: absolute;
//     top: 24px;
//     right: 440px;

// }

.visuallyhidden {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}






