.sec-nav{
    border-bottom: 1px solid var(--brand-color-dark-grey);
    background-color: #FFFFFF;
}

.secondary-navigation {
    // margin-bottom: calc(var(--baseline)/2);
    // margin-top: calc(var(--baseline)/2);
    top: 0;
    z-index: 100;
    // padding-left: var(--gutter);
  
}

.sec-nav__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav__link{
    padding: 5px 0.75rem;
    display: block;
    border-bottom: 3px solid rgba(0,0,0,0);
}

.nav__link.is--active{
    font-weight:700;

}

.sec-nav__link{
    padding: 1rem 1.5rem;
}

.sec-nav__link.is--active{
    border-bottom: 3px solid var(--brand-color);
}

.nav--page-subnav{
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    background:#F6F6F6;
}

.nav__list--page-subnav {
    display:flex;
    overflow-x:auto;
    white-space: nowrap;
}

.nav__link--site{
    padding: var(--baseline-sm) var(--baseline);
}

.nav__link--site.is--active{
    font-weight: 700;
    border-bottom: 3px solid var(--brand-color);
}











// .sec-nav__link:hover {
//     text-decoration: underline;
//     color: var(--brand-color);
//     text-underline-offset: var(--baseline);

// }

.hover-underline-animation{
    display: inline-block;
  position: relative;
  color: var(--brand-color);
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--brand-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }