.panel-container{
  padding-bottom: calc(var(--gutter));
}

.table__search-form{
  // display: flex;
  // justify-content: space-between;
}
.table-data__container {
  text-align: right;
}

.table__bd .table__row {
 border-bottom: 1px solid var(--brand-color-dark-grey);
  }

.table-data{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.table-data-right{
  padding-left: 12px;
  padding-bottom: 12px;
}

.table-info{
  font-family:"roboto";
  font-weight: 600;
  color: var(--brand-color);
}

.table-detail{
  font-family:"roboto";
  font-weight: 600;
  color: var(--brand-color);
  font-size: var(--font-size-minus-1);
  
}

.table__container {
  padding-top: calc(var(--baseline));
  width: 100%;
}
.table {
  width:100%;
  margin: 0 auto;
  border-top: 1px solid var(--brand-color-dark-grey);
}



.table__row{
  border-top: 1px solid var(--brand-color-dark-grey);
  border-bottom: 1px solid var(--brand-color-dark-grey);
}



.table__header {
  font-weight: 400;
  font-family: "roboto";
  color: var(--brand-color);
  text-align: right;
  font-size: var(--font-size-minus-1);
  padding: calc(var(--gutter)/2) calc(var(--gutter)/2);
  margin-bottom: calc(var(--baseline)/4);
  
  // border-bottom: 1px solid rgba(0,0,0, .1);
}

.table__header:nth-child(1) {
  font-weight: 400;
  font-family: "roboto";
  color: var(--brand-color);
  text-align: left;
  font-size: var(--font-size-minus-1);
  padding: calc(var(--gutter)/2) calc(var(--gutter)/2);
  margin-bottom: calc(var(--baseline)/4);
  
  // border-bottom: 1px solid rgba(0,0,0, .1);
}

.table__header:first-child{
  width: 30%;
}

.table__header:nth-child(2){
  width: 20%;
} 
.table__cell {
  color: var(--brand-color);
  font-family: "roboto";
  padding: calc(var(--gutter)/2) calc(var(--gutter)/2);
  border-bottom: 8px solid rgba(0,0,0,0);
  text-align: right;
  // border-bottom: 1px solid rgba(0,0,0, .1);
}

.table__cell:nth-child(1){
  text-align: left;
}

.table__cell-input{
  border: 1px solid #141446;
  max-width: 62px;
}


.table-button__container{
  display: flex;
  border-bottom: 24px;
  // justify-content: space-between;
  max-width: 45%;
  margin-bottom: calc(var(--gutter)*2);
}
.table__btn-blue{
  padding: calc(var(--baseline)/2);
  font-family: "roboto";
  color: white;
  background-color: var(--brand-color);
  margin-right: calc(var(--gutter)/2);
  // height: calc(var(--baseline)*1.5);

}

.table__btn-white{
  padding: calc(var(--baseline)/2);
  font-family: "roboto";
  color: var(--brand-color);
  background-color: white;
  border: 1px solid var(--brand-color);

}

.right{
  text-align: right;
}
.table-data__btn-blue{
  padding: calc(var(--baseline)/2);
  font-family: "roboto";
  color: white;
  background-color: var(--brand-color);
  
}

.search__container-table{
    display: flex;
    // justify-content: space-between;
    max-width: 80%;
    height: calc(var(--baseline)*2);
    

}

.search-table{
  display: flex;
  justify-content: flex-end;
  padding:0;
  height: calc(var(--baseline)*2);
  width: 50%;
  border: 2px solid var(--brand-color);

}
.search-table{
  
  
}

.search__input-table{
  width: 30%;
  background-color: transparent;
  display: block;
  border-right: var(--gutter);
  padding: calc(var(--baseline)/2) calc(var(--gutter)/2);
}

.search-filter{
  display: flex;
  flex-direction: column;
  // width: 40%;
  padding-right: var(--gutter);
}

.search__submit-btn--table{
  // display: inline-block;
  // background-color: transparent;
  // position: relative;
  // right: 36px;
  // // left: 0px;
}

.search__submit-btn--table{
  display: flex;
  background-color: transparent;
  border: none;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.search__submit-icon{
  display: block;
}



.search__input-filter{
  // display: block;
  padding: calc(var(--baseline)/2) calc(var(--gutter)/2);
  background-color: transparent;
  width: 100%;
  flex-grow: 1;
  // height: 38px;
  

}



.search-filter-select{
display: block;
border: 2px solid var(--brand-color);
height: calc(var(--baseline)*2);
width: 240px;
background-color: transparent;
padding: calc(var(--baseline)/4) calc(var(--gutter)/2);

}
.search-filter-element{
  padding-left: 24px;
  
}
.search-filter-label{
  font-family: "roboto";
}



