.tab__container{
    // background-color: #F6f6f6;

}

.tabs__body{
    background-color: #F6f6f6;
}


.tabs {
//    background-color: white;
}

.tabs__tabslist {
    display: flex;
    // align-items: center;
    
    max-width: none;
    font-family: "roboto";
    font-weight: 400;
    background-color: white;
 
}



.tabs__tab {
    
    text-decoration: none;
    
    // display: block;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    // position: relative;
    text-align: center;
}
    // &:focus {
    //     box-shadow: 0 0 0 1px var(--highlight);
    //     outline: 0 none;
    // }

.js-tabs .is--active {
    background-color: #F6f6f6;
    border-top: 2px solid #FFDD00;
    height: calc(var(--baseline)*2);
    font-weight: 600;
}

.js-tabs{
    height: calc(var(--gutter)*2);
    background-color: white;
}

.tabs__tabpanel {
    padding-top: calc(var(--baseline));
}

.my-account__container{
    height: 1200px;
}