.form-checkboxes__label{
    font-size: var(--font-size-baseline);

}

.form-checkboxes__label::before{
    content: "";
    display: block;
    border: 2px solid var(--brand-color);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.form-checkboxes {
    display: block;
    position: relative;
    min-height: 24px;
    padding: 0 0 0 36px;
    clear: left;

}



.form-checkboxes__item{
    display: block;
    margin-bottom: calc(var(--baseline));
    padding-left: calc(var(--gutter)/4);
}



.form-checkboxes__input{
@include visuallyhidden;
}

.form-checkboxes__subLabel{
    font-size: var(--font-size-minus-1);
    display: block;
    position: relative;
    bottom: 0;
}

.form-checkboxes__input:checked~ .form-checkboxes__label::before {
        background-color: var(--brand-color);

}

.form-checkboxes__input:checked~ .form-checkboxes__label::after{
        content: "";
        color: yellow;
        position: absolute;
        width: 8px;
        height: 20px;
        transform: rotate(45deg);
        border-bottom: 3px solid yellow;
        border-right: 3px solid yellow;
        left: 8px;
        top: 0px;
        z-index: 1;
}


.form__row--checkbox{
    align-items: center;
    margin-bottom: calc(var(--baseline));
    padding-left: calc(var(--gutter)/4);
    

}