.form--filters{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: flex-end;
}

.form--filters .search{
    max-width: 400px;
}

.form--filters .select{
    max-width: 350px;
}

.select{
    flex-grow: 1;
}

.search{
    flex-grow: 1;
}

.search__containervs2{
    display: flex;
    gap: 1.5rem;
    margin-top: 0.75rem;
}

.search__input-containervs2{
    position: relative;
    display: flex;
    flex-grow: 1;
    max-width: 480px;
}

.select__input-containervs2{
    flex-direction: row;
    display: flex;
}

.select label + .select__input-containervs2{
    margin-top: var(--baseline-xs);
}

.search__inputvs2{
    width: 100%;
    display: block;
    padding: 0 1rem;
    padding-right: calc(var(--baseline)*1.5);
    background-color: #fff;
    border: 2px solid var(--brand-color);
    height: 44px;
    line-height: 36px;
    color: #000;
}

.select__inputvs2{
    display: block;
    position: relative;
    width: 100%;
    border: 2px solid var(--brand-color);
    background: #fff;
    background-repeat: no-repeat;
    color: #6E6E8B;
    font-size: 1rem;
    padding: calc(1.5rem/3) 1rem;
    background-size: 22px;
    min-width: 200px;
    background-position: calc(100% - var(--baseline) /2 ) center;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNC44MjgiIGhlaWdodD0iMTMuODI4IiB2aWV3Qm94PSIwIDAgMjQuODI4IDEzLjgyOCI+DQogIDxwYXRoIGlkPSJQYXRoXzk5OTgiIGRhdGEtbmFtZT0iUGF0aCA5OTk4IiBkPSJNNzQxLjExOCwzNS4wNzRsMTEsMTEsMTEtMTEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC03MzkuNzA0IC0zMy42NikiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzcwNzA3MCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiLz4NCjwvc3ZnPg0K);
}